<%= stylesheet_link_tag "blackjack_table" %>
<table>
    
    <tr><td colspan="3">
        <%= image_tag @this_round.status.nil? || @this_round.status == "bust" || @this_round.status == "blackjack" ? "/images/cards/00.svg" : "/images/cards/#{ @this_round.dealer_array[ 0 ].to_s.rjust( 2, "0" ) }.svg", height: '150' %>&nbsp;
        <% @this_round.dealer_array[ 1..-1 ].each do | dealer_card | %>
            <%= image_tag "/images/cards/#{ dealer_card.to_s.rjust( 2, "0" ) }.svg", height: '150' %>&nbsp;
        <% end %>
    </td></tr>

    <tr><td colspan="3">
        <b class="big-instructions">BLACKJACK PAYS 3 TO 2</b><br />
        <b class="small-instructions"><em>Dealer must hit soft 17</em></b><br />
        <b class="big-instructions">INSURANCE PAYS 2 TO 1</b>
    </td></tr>

    <tr>

        <td>
            <h1>Bet:
            <br />$<%= "%.2f" % @this_round.bet %></h1>
            <h1>Bankroll:
            <br />$<%= "%.2f" % @this_round.player.current_bankroll %></h1>
            <br /><%= button_to "Back to player profile", player_path( @this_round.player ), method: "get" %>
        </td>
        
        <td class="player-cards">
            <% @this_round.player_array.each do | player_card | %>
                <%= image_tag "/images/cards/#{ player_card.to_s.rjust( 2, "0" ) }.svg", height: '150' %>&nbsp;
            <% end %>
        </td>

        <td>
            <h1>
                <%= @this_round.player_score[ 0 ] == @this_round.player_score[ 1 ] || @this_round.player_score[ 0 ] > 21 ? @this_round.player_score[ 1 ] : "#{ @this_round.player_score[ 0 ] }/#{ @this_round.player_score[ 1 ] }" %>
            </h1>
            
            <% case @this_round.status %>
            <% when "bust"%>
                <h1 class="round-status loss">PLAYER BUSTS</h1>
            <% when "loss"%>
                <h1 class="round-status loss">DEALER WINS</h1>
            <% when "push"%>
                <h1 class="round-status push">PUSH</h1>
            <% when "win" %>
                <h1 class="round-status win">PLAYER WINS</h1>
            <% when "blackjack" %>
                <h1 class="round-status win">BLACKJACK</h1>
            <% else %>
                <%= button_to "Hit", hit_path( @this_round ), method: "patch", data: @this_round.player_final_score > 16  ?  { confirm:  "Your score is #{ @this_round.player_final_score }. Are you sure you want to hit?" } : nil unless @this_round.player_score.include?( 21 )%>
                <br /><br />
                <%= button_to "Stand", stand_path( @this_round ), method: "patch", data: @this_round.player_final_score < 17  ?  { confirm:  "Your score is only #{ @this_round.player_final_score }. Are you sure you want to stand?" } : nil %>
            <% end %>
            <% unless @this_round.status.nil? %>
                <% if flash[ :messages ] %>
                    <% flash[ :messages ].each do | error_message | %>
                        <h3><%= error_message %></h3>
                    <% end %>
                <% end %>
                <%= form_with url: new_round_path( @this_round.player, params: { round_id: @this_round.id } ), method: "post" do | f | %>
                    <%= f.label :next_bet, "Place your bet:" %><br />
                    <%= f.number_field :next_bet, value: @this_round.bet, step: 0.1 %><br />
                    <%= f.submit "Deal a new round" %>
                <% end %>
            <% end %>
        </td>

    </tr>

</table>

