<%= stylesheet_link_tag "blackjack_table" %>
<style>
    li { font-size: 21px; }
</style>
<h1>All Blackjack players</h1>
<ul>
    <% @all_players.each do | player | %>
        <li><%= link_to player.name, player_path( player ) %> ($<%= "%.2f" % player.bankroll %>) | <%= link_to "Change name", edit_player_path( player ) %></li>
    <% end %>
</ul>
<%= button_to "Create a new player", new_player_path, method: "get" %>